* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.charts{
    width: 100%;
}

canvas{
    margin: 20px 0;
}
